@media (max-width:35em) and (min-width:23em){
    .navleft >.Linknav{
        /* display: none; */
        font-size: 1.5rem;
    }
    .page1{
        /* background-color: blanchedalmond; */
        min-height: 70vh;
    }
    .navleft{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        left: 23%;
        /* left: 100%; */
        top: 30%;
        display: none;
        
    }
    .navigation{
        display: flex;
        flex-direction: column;
        min-height: 10vh;
        gap: 80px;
        /* background-color: black */
        /* background-color: blanchedalmond; */
    }
    .navdropformobile{
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: relative;
        background-color: rgb(248, 248, 248);
        width: 100vw;
        text-align: center;
        display: none;
        
        
    }
    .shownav{
        display: block;
        transition: all ease-in-out 0.5s;
    }

    .navdropformobile>.Linknavmob{
        text-decoration: none;
        color: black;
        font-size: 1.7rem;
        position: relative;
        border-bottom: 1px rgb(10, 10, 10,0.2) solid;
        
    }

    .clickbar{
        /* background-color: blue; */
        height: 40px;
        width: 20px;
        position: absolute;
        right: 10%;
        top: 20%;
        /* display: flex; */
        /* flex-direction: column; */
        /* gap: 10px; */
    }
    .line{
        height: 4px;
        width: 20px;
        background-color: black;
        position: relative;
        right: 10%;
        margin-bottom: 20%;
        
    }
    .line2{
        height: 4px;
        width: 20px;
        background-color: black;
        position: relative;
        right: 10%;
        margin-bottom: 20%;

    }
    .line3{
        height: 4px;
        width: 20px;
        background-color: black;
        position: relative;
        right: 10%;
    }
    .navigation{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #logo{
        height: 55px;
        width: 120px;
        position: absolute;
        left: 0%;
        top: 4%;
    }
    .heroheadingtop>h1{
        font-size: 4.3rem;
        width: 90%;
        font-weight: 500;
        letter-spacing: -1.05px;

    }
    .heroheadingtop{
        width: 100vw;
        top: 45%;
    }
    .heroheadingbot > h2{
        font-size:4rem;
        font-weight: 300;
        letter-spacing: -1.05px;
    }
    .heroheadingbot{
        width: 90vw;
        left: 9%;
        top: 60%;
    
    }
    .buttonpage1{
        height: 45px;
        width: 200px;
        font-size: 1.9rem;
        top: 78%;
    }
    .page2{
        /* background-color: blanchedalmond; */
        /* height:200vh; */
        margin-bottom: 13%; 
    }
    .page2>h3{
        font-size: 1.9rem;
    }
    .cards{
        display: flex;
        flex-direction: column; 
        gap: 5em;
    }
    .cards>.cardonediv,.cardtwodiv,.cardthreediv{
        width: 80vw;
        height: 55vh;
        box-shadow: 2px 5px 25px -10px;
    } 
    .cardonediv>h2,.cardtwodiv>h2,.cardthreediv>h2{
        font-size: 3rem;
    }

    .cardtwodiv>p,.cardthreediv>p,.cardonediv>p{
        font-size: 1.5rem;
        line-height: 27px;
        color:#86868B;
        font-weight: 500;
    }
    .page3{
        /* background-color: blanchedalmond; */
        min-height: 90vh;   
        margin-bottom: 10%;
    }
    .page3>h1{
        font-size: 2.3rem;
        top: 2%; 
    }
    .page3content{
        flex-direction: column;
    }
    .page3text{
        width: 90vw;
        left: 6%;
    }
    .page3text>h3{
        font-size: 2rem;
        width: 100%;
        font-weight: 400;
        color:#86868B;
    }
    .page3 video{
        height: 70vh;
        width: 90vw;
        border-radius: 0px 40%;
        left: 5%;
        position: relative;
        margin-bottom: 10%;
    }
    .page4{
        display: flex;
        flex-direction: column-reverse;
        /* background-color: blanchedalmond;*/
    }
    .page4left>img{
        position: relative;
        height: 30vh;
        width: 90vw;
        left: 5%;
        display: none;
    }
    .page4left{
        width: 100vw;
    }
    .page4right{
        width: 100vw;
        left: 5%;
        /* background-color: black; */
    }
    .page4right>h2{
        font-size: 2.5rem;
        width: 90%;
        position: relative;
        left: 5%;
        
    }
    .page4right>p{
        color: #86868B;
        font-weight: 500;
        width: 90%;
        left: 5%;
        position: relative;
    }
    .page4right>button{
        position: relative;
        left: 5%;
    }
    .page5{
        margin-bottom: 0%;
    }
    .wrapperforpage5{
        background: url(https://img.freepik.com/premium-photo/cyberpunk-gaming-controller-gamepad-joystick-illustration_691560-5812.jpg) center no-repeat ;
        object-fit: cover;
        border-radius: 0px 35% 0px 0px;
        height: 50vh;
        width: 100vw;
    }
    .wrapperforpage5>h2{
        font-size: 3rem; 
        width: 80%;  
        top: 16%;
        position: relative;
    }
    .page5contentdiv{
        /* background-color: blanchedalmond; */
        height: 30vh;
        width: 90vw;
        left: 10%;
        top: 40%;
    }
    .page5contentdiv>h2{
        font-size: 2.5rem;
        position: relative;
        top: 20%;
        left: 10%; 
    }
    .page5contentdiv>button{
        height: 45px;
        width: 200px;
        font-size: 1.9rem;
        top: 35%;
        left: 10%;
        position: relative;

    }
    .page6{
        flex-direction: column;
        /* background-color: blanchedalmond; */
        min-height: 100vh;
        position: relative;
        top: -10%;
        margin-bottom: 0vh;

    }
    .hello{
        /* background-color: blanchedalmond; */
        min-height: 60vh; 
        width: 95vw;
        transform: translateX(-29%);
        top: -20%;
        position: relative;
        gap: 3rem;
    }
    .hello>h1{
        font-size: 3rem;
        /* top: 3%; */
        /* position: absolute; */
    }
    .hello>p{
        font-size: 1.5rem;
        line-height: 27px;
        color:#86868B;
        font-weight: 500;
    }
    .hello>#buttoninpage6{
        height: 45px;
        width: 200px;
        font-size: 1.9rem;
        /* top: 35%; */
        /* left: 10%; */
        /* position: relative; */  

    }
    .page6right>img{
        height: 30vh;
        width: 90vw;
        transform: translateX(-30%);
        position: relative;
        top: -24%;
        
    }
    .page7{
        /* background-color: blanchedalmond; */
        min-height:65vh;
        top: -10%;
    }
    .page7>h2{
        font-size:1.9rem;
        font-weight: 400;
        text-align: center;
        left: 1%;

    }
    .awards{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
        position: relative;
        grid-gap: 20px;
        width: 80vw;
    }
    .awards>img{
        height: 25em;
        width: 25em; 
    }
    .awards>img:nth-child(5){
        display: none;
        
    }
    .footerdiv{
        min-height: 130vh;
        width: 100vw;
        flex-direction: column;
        gap: -3em;

        
    }
    .footerhome{
        display: grid;
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
        row-gap: 10px;
        position: relative;
        flex-direction: row;
        width: 90%;
        min-height: 15vh; 
        /* flex-wrap: wrap; */
        /* background-color: white; */
        margin-top: -3%;
         
       

    }
    .footerhome>.h2,.footerblogques li{
        font-size: 1.6rem;
    }
    .footerhome>.h2{
        line-height: 1em;   
    }
    .footerblogques{
        position: relative; 
    }
    .footerdiv>#desktopImage{
        display: none; 
    }
    .footerdiv>#mobileImage{
        position: relative;
        height: 65px;
        width: 120px;
        left: 2%;
    }
    .footerblogques{
        /* background-color: white;  */
        width: 95vw;
    
    }
    .footerblogques ol{
        gap: 5em;
        position: relative;
        left: 2%;
    }
    .footerblogques li{
        border-bottom: 1px solid rgb(255, 255, 255,0.2);
    }
    


    



}

@media (min-width:83em){
    .navleft{
        height: 10vh;
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* background-color: black; */
        gap: 40px;
        position: relative;
        right: 0%;
     }
     .navleft >.Linknav{
        text-decoration: none;
        font-size: 2rem;
        /* color: #FF8000; */
        color: black;
        /* color: white; */
        font-weight: 900;
        
    }
    .footerdiv>#mobileimage{
        display: none;
    }
    .clickbar{
        display: none; 
    }
    .clickbar{
        display: none;
        
    }
    .navdropformobile{
        display: none;
    }

}